node_modules/
.expo/
dist/
web-build/
*.log
.DS_Store
*.tsbuildinfo

# env
.env
.env.local
.env.*.local

# firebase
.firebase/
firebase-debug.log
firestore-debug.log
functions/node_modules/
functions/lib/

# testing
coverage/

# @generated expo public dir
public/
